h3 {
    text-align: center;
    background-color: #D8D0CD;
    color: #C83F5F;
    border-radius: 10px;
    padding: 10px;
}

.theaders {
    background-color: #C83F5F;
    color: #D8D0CD;
    border: 2px solid black;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: sans-serif;
}

table {
    width: 100%;
}

tr:nth-child(odd):not(:first-child) {
    background-color: white;
}


tr:nth-child(even) {
    background-color: #D8D0CD;
}

.options_row_long {
    width: 150px;
}

.options_row_middle {
    width: 72px;
}

.options_row_short {
    width: 50px;
}

.outer_options_member, .outer_options_class, .outer_options_member_class {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

#search_member, #search_class, #search_member_class {
    width: 250px;
    height: 25px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    border: none;
}

#search_member_class {
    width: 300px;
    height: 25px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    border: none;
}

#member_class_members_selection {
    width: 400px;
}

#search_member:focus, #search_class:focus {
    border: 3px solid #D8D0CD;
    outline: none;
}

.header_search_member, .header_search_class, .header_search_member_class {
    background-color: #c83f5f;
    text-align: center;
    border-radius: 10px;
}

.center_id {
    text-align: center;
}

.btn_add_new_member, .btn_add_new_class, .btn_add_new_member_class {
    background-color: #B46543;
    border: none;
    border-radius: 10px;
    color: #D8D0CD;
    padding: 8px;
    cursor: pointer;
    width: 170px;
    font-size: medium;
}

.btn_add_new_member_class {
    background-color: #B46543;
    border: none;
    border-radius: 10px;
    color: #D8D0CD;
    padding: 8px;
    cursor: pointer;
    width: 250px;
    font-size: medium;
}

.btn_cancel_member, .btn_cancel_update_member, .btn_cancel_class, .btn_cancel_update_class, .btn_cancel_update_member_class, .btn_cancel_member_class {
    background-color: #B46543;
    border: none;
    border-radius: 10px;
    color: #D8D0CD;
    padding: 8px;
    cursor: pointer;
    width: 70px;
}

.btn_add_member, .btn_add_update_member, .btn_add_class, .btn_add_update_class, .btn_add_member_class, .btn_add_update_member_class {
    background-color: #c83f5f;
    border: none;
    border-radius: 10px;
    color: #D8D0CD;
    padding: 8px;
    cursor: pointer;
    width: 70px;
}

.add_class_button {
    background-color: #c83f5f;
    border: none;
    border-radius: 7px;
    color: #D8D0CD;
    padding: 5px;
    cursor: pointer;
    width: 70px; 
}

.btn_update_member, .btn_update_class, .btn_update_member_class {
    background-color: #c83f5f;
    color: #D8D0CD;
    padding: 8px;
    width: 100%;
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: medium;
}

.btn_delete {
    background-color: #B46543;
    color: #D8D0CD;
    padding: 8px;
    width: 100%;
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: medium;
}

input[type=text], input[type=number] {
    border: 3px solid #D8D0CD;
    width: 240px;
    height: 25px;
    border-radius: 10px;
    font-size: large;
    margin-top: 5px;
    padding-left: 10px;
    outline: none;
}

input[type=text]:focus, input[type=number]:focus{
    border: 3px solid #DF5587;
}

.flex-container {
    display: flex;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
}

select {
    border: 3px solid #D8D0CD;
    border-radius: 10px;
    width: 160px;
    border-radius: 10px;
    font-size: medium;
    margin-top: 5px;
}

.notification_error_member, .notification_error_update_member, .notification_error_class, .notification_error_update_class, .notification_error_member_class, .notification_error_update_member_class {
    background-color: red;
    color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    margin-top: 5px;
    display: none;
}

.notification_success_member, .notification_success_update_member, .notification_success_delete_member, .notification_success_class, .notification_success_update_class, .notification_success_delete_class, .notification_success_member_class, .notification_success_update_member_class, .notification_success_delete_member_class {
    background-color: green;
    color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    margin-top: 5px;
    display: none;
}

.blank_row
{
    height: 15px !important;
}